.title {
  display: flex;
  gap: 20px;
  padding-bottom: 10px;

  border-bottom: 1px solid;
  margin-bottom: 20px;
}

.percent {
  round: number;
}

.genres {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.about {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 10px;

  border-bottom: 1px solid;
  margin-bottom: 20px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: disc; /* Встановлює круглі маркери */
  padding-left: 40px; /* Додаємо відступ для списку */
}

.item:hover {
  color: #4e75ff;
}

.btn {
  margin-bottom: 5px;
  background-color: rgb(210, 227, 222);
  border-radius: 8px;
  border: 1px solid;
  border-color: rgb(171, 171, 189);
  margin-left: 5px;
}
