.block {
  display: flex;
  gap: 20px;
  flex-direction: column;
  list-style-type: disc;
  padding-left: 20px;
}

.title {
  font-weight: 700;
  padding-bottom: 5px;
}

.item {
  font-size: small;
}
